body {
margin: 0;
margin-bottom: 25px;
padding: 0;
background-color: #ddd;
background-repeat: no-repeat;
background-position: top left;

font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 13px;
color: #333;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin-top: 1%;
}

h1 {
font-size: 28px;
color: #000;
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}

p {

}

#page {
background-color: #ddd;
width: 750px;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#content {
background-color: white;
border: 3px solid #aaa;
border-top: none;
padding: 25px;
width: 500px;
}

h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
}

.entry-header {
display: flex;
flex-direction: row;
}

.entry-info {
margin-left:1%;
margin-top:1%;
}

.tweet {
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}
